    #titulo_principal{ background-color: #92751e;
    color: white;}



    .titulo_secundario{background-color: #2a522a;
    color: white;}

    #layout{
        display: flex;
    }

    .rodapé{
        text-align: center;
    }
